.top-margin{
    margin-top: 50px;
}

.main-container{
    border-top: 1px solid #e5e5e5;
}

/*css to make all image same aspect ratio ie. 4:3*/
.item-image-container{
    width: 100%;
    height: 0;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 75% 0 0 0;
}

.item-image{
    position: absolute;
    display: block;
    max-width: 100%;
    top: 0;
    max-height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/*ending---css aspect ratio*/

/*--truncate description start--*/
.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*--truncate description end--*/

.card-margin-top{
    margin-top: 16px;
}

.card-margin-bottom{
    margin-bottom: 20px;
}

/*--CSS for sidebar start--*/
/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Style the main content */
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/*--CSS for sidebar end--*/
